<!DOCTYPE html>
<html>
  <head>
    <style>
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      #customers tr:hover {
        background-color: #ddd;
      }

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
      }
    </style>
  </head>

  <body>
    <h1>A Fancy Table</h1>

    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>

      <% for(const user of data) {%>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.phone%></td>
        <td><%= user.address%></td>
      </tr>
      <% }%> <% data.map(user => { %>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.phone%></td>
        <td><%= user.address%></td>
      </tr>
      <% })%>
    </table>
  </body>
</html>
